.eventDetailsPage {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  width: 100%;
}

.eventDetailsCol {
  display: flex;
  flex-direction: column;
}

.eventDetailsBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
